{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="color: #eb7200;">Search Product Ratings from Flipcart</h1>

    <div class="form" style="align-items: center;">
        <form action="/review" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Search">
        </form>
    </div>
</div>
{% endblock %}